@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Jost", sans-serif;
    color: #dedede;
}

body{
    background-color: black;
}

ul{
    padding-left: 1.5rem;
}

ul li{
    list-style-type: disc;
}

header{
    z-index: 100;
    box-shadow: 0px 1px 15px #bebebe;
    background-color: white;
}

.vanta-canvas{
    padding-top: 0rem;
    position: relative;
    left: unset !important;
    right: 0rem !important;
    z-index: -1 !important;
}

.text-gg{
    font-size: 3vw;
}
.text-g{
    font-size: 2.5vw;
}
.text-m{
    font-size: 1.75vw;
}
.text-sm{
    font-size: 1.25vw;
    line-height: 25px;
}