@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-size: 18px;
    color:white;
    font-weight: 300;
}

:root{
    --red:#EF4444;
}

h1, h1 span{
    font-size: 30px;
    font-weight: 600;
}

h2{
    font-size: 25px;
    font-weight: 600;
}

h3{
    font-size: 22.5px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    h1, h1 span{
        font-size: 20px;
        font-weight: 600;
    }
}

nav ul li{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    cursor: pointer;
}

a.button-zap{
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 5px;
    font-weight: 400;
    transition: width 0.5s ease-in-out;
}

#redes-sociais a{
    transition: all .5s ease-in-out;
}

#redes-sociais a:hover{
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    a.button-zap:hover{
        width: 15rem;
    }
}

.red{
    color:var(--red);
}
